.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
  
    /* Blur for modern browsers */
    backdrop-filter: blur(6px);
  
    /* Blur for Safari and iOS */
    -webkit-backdrop-filter: blur(6px);
  
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  
  
  
  .modal-card {
    width: 500px;
    max-height: 90vh;
    background: white;
    border-radius: 25px;
    overflow-y: auto;
    padding: 25px 30px; 
    position: relative;
  }
  
  
  .modal-header {
    padding: 20px;
    border-radius: 25px 25px 0 0;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .close-btn {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.25);
    border: 2px solid rgba(255,255,255,0.6);
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  
    -webkit-backdrop-filter: blur(4px); 
    backdrop-filter: blur(4px);          
  
    transition: transform 0.25s ease, box-shadow 0.25s ease;
  }
  
  .close-btn:hover {
    transform: scale(1.15);
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  }
  
  
  .close-btn:hover {
    transform: scale(1.15);
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  }
  
  
  .modal-img-box {
    display: flex;
    justify-content: center;
    margin: 30px 0 40px;
  }
  
  .modal-img-box img {
    width: 200px;
  }
  
  .stat-row {
    display: grid;
    grid-template-columns: 130px 1fr 40px;
    align-items: center;
    gap: 15px;
    padding: 10px 10px; 
  }
  
  
  .stat-name {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 0.95rem;
  }

  .ability-list p,
p {
  margin-left: 5px;
  margin-bottom: 6px;
}

  
  .stat-bar {
    height: 8px;
    background: #eee;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  
  .stat-fill {
    height: 100%;
    background: #ff4757;
    border-radius: 10px;
    transition: width 0.4s ease;
  }
  
  .stat-value {
    text-align: right;
    font-weight: 600;
    font-size: 0.9rem;
  }
  
  
  
  
  .type-fire { background: #F08030; }
  .type-grass { background: #78C850; }
  .type-water { background: #6890F0; }
  .type-bug { background: #A8B820; }
  .type-normal { background: #A8A878; }
  .type-ground { background: #E0C068; }
  .type-electric { background: #F8D030; }
  .type-poison { background: #A040A0; }
  .type-fairy { background: #EE99AC; }
  
  .section-title,
h3 {
  margin-top: 25px;
  margin-bottom: 12px;
  padding-left: 5px;
}
