body {
  background: linear-gradient(135deg, #ff3e3e, #ff9f43, #1e90ff);
  background-size: 300% 300%;
  animation: gradientMove 12s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


h1, h2, h3, h4, h5 {
  margin: 0;
}

* {
  box-sizing: border-box;
}
